@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #135a2e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #135a2e;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: blue;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #135a2e;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #135a2e;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #135a2e;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #135a2e;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 60em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card img{
    width: 50em;

    border-radius: 10px;
}
.card .icon {
    color: #135a2e;
  
    text-align: center;
}

.info image{
    color: #135a2e;
    font-size: 1.2em;
    font-weight: 1000;
    margin: 100px;
    
}

.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #135a2e;
}

.more-details:hover {
    color: #135a2e;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #135a2e;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
   
    width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background:#fff;
    
  }
  
  .toggle {
    width: 150px;
    height: 70px;
  
    border: 0.1px solid #fff;
    border-radius: 100px;
  

    background-color: #f0edf1;
  
    box-shadow: inset 10px 10px 15px #a7aaaf, inset -10px -10px 15px #ffffff;
    position: relative;
  }
  
  .toggle .icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 3px #f0edf1, 4px 4px 7px #a7aaaf,
      -4px -4px 7px #ffffff;
  
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  .toggle .moon {
    opacity: 0;
  }
  .toggle input {
    opacity: 0;
    width: 150px;
    height: 70px;
    cursor: pointer;
  }
  
  .toggle input:checked + label .moon {
    opacity: 1;
  }
  .toggle input:checked + label .sun {
    opacity: 0;
  }
  
  .toggle input:checked + label .icon {
    transform: translateX(80px) rotate(360deg);
  }
  